@model IEnumerable<Piscine.Models.Reservation>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
    var usr = new IdentityUser();
    var role = new IdentityRole();
}

<h1>Index</h1>

<p>
    
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Client"))
        {
            <a asp-action="Create">Create New</a>
        }
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeReservation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FirstName) @Html.DisplayFor(modelItem => item.Client.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeReservation.Name)
                </td>
                <td>
                    

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Client"))
                        {
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        else 
                        {
                            <div class="input-group mb-3">
                                <a class="btn btn-primary mr-2" asp-action="Accepter" asp-route-id="@item.Id">Accepter</a>
                                <div>
                                    <a class="btn btn-danger" asp-action="Refuser" asp-route-id="@item.Id">Refuser</a>
                                </div>

                            </div>

                        }
                        

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
